/*page login*/
body{
    background-color:rgb(230,230,230);
    font-family:'Open Sans', sans-serif;;
    margin:0 auto;
}

#wrapper{
    width:340px;
    margin: 0 auto;
}

h1{
    color: #000000;
    font-family:'Open Sans', sans-serif;
    font-weight:200;
    font-size: 25px;
    margin-bottom:5px;
    text-shadow: #FFFFFF -0px -2px;
    letter-spacing: 2px;
}

.form-identification{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 340px;
    height: 180px;
    box-sizing: border-box;
    margin:0 auto;
    padding: 20px;
}

fieldset{
    border: solid rgb(230,230,230) 1px;
    margin:0 auto;
    width:295px;
    height:140px;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom:16px;
}

input[type="submit"]{
    width:92px;
    height: 24px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing:1px;
    background-color: #000000;
    border-radius: 5px;
    float: right;
    border : 1px solid black;
    margin-top:11px;
}

input{
    width:215px;
    height: 25px;
    border: solid rgb(230,230,230) 1px;
    margin-bottom:5px;
}

input[placeholder]{
    letter-spacing: 1px;
}

p{
    margin:0;
}


/*page main*/
body{
    background-color:rgb(230,230,230);
    font-family:'Open Sans', sans-serif;;
    margin:0 auto;
}

#wrapper_mainpage{
    width:100%;
}

nav{
    background-color: #000000;
    width:100%;
    height: 28px;
}

nav ul{
    margin:0;
    padding-left:0 ;
    padding-top:1px;
}

nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #EEEEEE;
}

nav ul li:first-child{
    border-right: solid 1px #FFFFFF;
    height:25px;
}

nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
}

#clickblock{
    margin-top:150px;
    text-align: center;


}

#clickblock a{
    font-family: 'Rokkitt', serif;
    color: #000000;
    font-size: 20px;
    text-decoration: underline;
}

