<?php
$erreur =isset ($_GET['erreur']) ? $_GET["erreur"]: NULL;
?>
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Test Connect</title>
		<link type="text/css" href="css/style.css" rel="stylesheet" media="all" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
	<div id="wrapper">
		<h1>Identification</h1>
			<div class="form-identification">
					<form method="POST" action="check.php">
						<fieldset>
							<?php if($erreur ==1) :?>
							<p style="color:red">MP invalide</p>
							<?php endif ?>
							<!--<?php if($_GET['erreur'] ==1) :?>-->
							<!--<p style="color:red">MOT DE PASSE invalide</p>-->
							<!--<?php endif ?>-->
							<?php if($erreur ==2) :?>
							<p style="color:red">Login invalide</p>
							<?php endif ?>

							<label for="username"></label>
							<input type="text" name="username" id="username" placeholder=" utilisateur" />
							<label for="password"></label>
							<input type="password" name="password" id="password" placeholder=" mot de passe" />
							<input type="submit" id="submit" value="Connexion" />
						</fieldset>
						<!--{{ errors }}-->



						<!--{{ end errors }}-->

					</form>
			</div>
	</div>


	</body>
</html>
